.market-today-container{
    //border: 1px solid red;
    height: fit-content;
    display: flex;
    justify-content: center;
    background: #f4f5f5;
    .market-today-content{
        //margin-top: 20px;
        height: fit-content;
        border: 1px solid green;
        width: 1080px;
        background: linear-gradient(83.78deg,#1c2025 1.64%,#afa3a3 93.62%);
       
        border-radius: 8px;
        .market-today-title{
            //position: absolute;
            margin-top: 20px;
            margin-bottom: 20px;
            color: white;
            display: flex;
            margin-left: 20px;
            font-family: Inter,sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            .today{
                font-size: 24px;
                color: red;
                margin-left: 10px;
            }
        }
        .market-today-content-bottom{
            display: flex;
            height: 539px;
            .market-today-content-left{
                width: 40%;
                margin-left: 20px;
                .new-job-image{
                    // border: 1px solid blue;
                    background-image: url(../../assets/marketToday/new-work-talk.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 100px;
                    width: 284px;
                    height: 210px;
        
                }
                .new-job-title{
                    color: white;

                    font-family: Inter,sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                }
                .new-job-all{
                    .new-job-item{
                        width: 284px;
                        .preview-img-container{
                            display: flex;
                            flex-wrap: wrap;
                            .preview-image{
                                width: 60px;
                                margin-right: 5px;
                                border: none;
                            }
                            .new-job-info{
                                color: white;
                                font-family: Inter,sans-serif;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;


                                width: 200px;
                                white-space: nowrap;
                                overflow:hidden;
                                text-overflow:ellipsis;
                                .new-job-company-name{
                                    font-weight: normal;
                                    color: darkgray;

                                    width: 200px;
                                    white-space: nowrap;
                                    overflow:hidden;
                                    text-overflow:ellipsis;
                                }

                            }
                        }
                    }
                }

            }
            .market-today-content-right{
                //border: 1px solid blue;
                width: 60%;
                .market-today-content-top-right{
                    display: flex;
                    height: 15%;
                    gap: 50px;
                    margin-top: 20px;
                    .top-content{
                        background: linear-gradient(83.78deg,#1c2025 1.64%,#cfc2c2 93.62%);
                        .count{
                            color: white;
                            display: flex;
                            margin-left: 20px;
                            font-family: Inter,sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 32px;

                        }
                        .element{
                            color: white;
                            font-family: Inter,sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 32px;
                            
                        }
                    }
                }
                .market-today-content-bottom-right{
                    display: flex;
                    height: 85%;
                    .chart1{
                        background-image: url(../../assets/marketToday/chart1.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        //border: 1px solid green;
                        background-size: contain;
                        width: 50%;
                        height: 266px;

                    }
                    .chart2{
                        background-image: url(../../assets/marketToday/businessman.png);
                        background-position: center;
                        //border: 1px solid orange;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 50%;
     
                    }
                }
                
            }
        }
    }
}